build
build-clang
build-clang-msvc
build-msvc
build-run
build-kbd
build-smoke
stage-pinyin
stage-test
build-pinyin-fcitx
build-pinyin-libime
build-pinyin-chinese
dist
install
.cache

# Visual Studio / MSVC
.vs/
*.vcxproj.user
*.vcxproj.filters.user

# User-local CMake
CMakeUserPresets.json
